<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2 class="text-center">Acceleration Data</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul>
                    {{#foreach: accelerationData}}
                    <li>
                        {{timestamp}}: {{x}}, {{y}}, {{z}}
                    </li>
                    {{/foreach}}
                </ul>
            </div>
        </div>
    </div>
</section>
