<section>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 pull-left">
                    <h2>Collector</h2>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="userName">Collector Handle</label>
                    <input type="text" class="form-control" id="userName" placeholder="Declare your handle" value="{{userName}}">
                </div>
                <button class="btn btn-default" data-bind="click: toggleCollection">{{buttonCaption}}</button>
            </div>
        </div>
    </div>
</section>