<section>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h2 class="text-center">Collector</h2>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName" placeholder="Set your user name" value="{{userName}}">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="interval">Collection Interval</label>
                    <input type="text" class="form-control" id="interval" placeholder="How often to check (milliseconds)" value="{{interval}}">
                </div>
                <button class="btn btn-default" data-bind="enable: canCollect, click: toggleCollection">{{buttonCaption}}</button>
            </div>
            <div data-bind="visible: collectionInProgress">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 pull-left">
                        <h3>Collecting...</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">Entries:</div>
                    <div class="col-xs-9 col-sm-9">{{locationEntryCount}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">Errors:</div>
                    <div class="col-xs-9 col-sm-9">{{locationErrorCount}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
