<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2 class="text-center">Location Data</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul>
                    {{#foreach: locationData}}
                    <li>
                        {{timestamp}}:
                        Coordinates: {{coords.latitude}}, {{coords.longitude}}<br/>
                        Altitude: {{coords.altitude}}'<br/>
                        Heading, speed: {{coords.heading}}, {{coords.speed}}<br />
                        Associated Accelerometer Entries: {{accelerometer.length}}
                    </li>
                    {{/foreach}}
                </ul>
            </div>
        </div>
    </div>
</section>
